Repository music-assistant/server: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, mypy

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --fail-on=I
  - --disable=import-error

mypy:
  name: mypy
  entry: mypy
  language: system
  require_serial: true

disable mypy for now
  .github/workflows/test.yml
  .pre-commit-config.yaml
Due: none

linting
  music_assistant/common/models/enums.py
  music_assistant/server/controllers/music.py
  music_assistant/server/models/plugin.py
  music_assistant/server/providers/airplay/__init__.py
  music_assistant/server/providers/fanarttv/__init__.py
  music_assistant/server/providers/filesystem_local/base.py
  music_assistant/server/providers/musicbrainz/__init__.py
  music_assistant/server/providers/qobuz/__init__.py
  music_assistant/server/providers/slimproto/__init__.py
  music_assistant/server/providers/sonos/__init__.py
  music_assistant/server/providers/spotify/__init__.py
  music_assistant/server/providers/theaudiodb/__init__.py
  music_assistant/server/providers/tunein/__init__.py
  music_assistant/server/providers/url/__init__.py
  music_assistant/server/providers/ytmusic/__init__.py
  music_assistant/server/server.py
Due: pylint, mypy

fix cli
  music_assistant/server/providers/airplay/__init__.py
  music_assistant/server/providers/json_rpc/__init__.py
  music_assistant/server/providers/json_rpc/manifest.json
  music_assistant/server/providers/json_rpc/models.py
  music_assistant/server/providers/slimproto/__init__.py
  music_assistant/server/providers/slimproto/manifest.json
  music_assistant/server/providers/sonos/__init__.py
  pyproject.toml
Due: pylint, mypy

silence logger
  music_assistant/server/providers/slimproto/__init__.py
Due: pylint, mypy

add frontend package
  music_assistant/server/helpers/compare.py
  music_assistant/server/providers/frontend/__init__.py
  music_assistant/server/providers/frontend/manifest.json
Due: pylint, mypy

2.0.0b0
  music_assistant/constants.py
Due: pylint, mypy

fix small typo
  music_assistant/server/controllers/media/base.py
Due: pylint, mypy

fix typos in pyproject
  pyproject.toml
Due: none

add manifest back
  MANIFEST.in
Due: none

docker base
  Dockerfile
  music_assistant/server/helpers/util.py
Due: pylint, mypy

add workflow for docker publish
  .github/workflows/docker-build.yml
Due: none

add compose
  compose.yml
Due: none

Add foundation for docker (#510)
  .github/workflows/docker-build.yml
  Dockerfile
  compose.yml
  music_assistant/server/helpers/util.py
Due: pylint, mypy

some changes to the docker build workflow
  .github/workflows/docker-build.yml
Due: none

typo
  .github/workflows/docker-build.yml
Due: none

only amd64 and arm64 for now
  .github/workflows/docker-build.yml
Due: none

update dockerfile
  Dockerfile
Due: none

Auto-update pre-commit hooks
  .pre-commit-config.yaml
Due: none

switch to debian base
  Dockerfile
Due: none

try to fix docker build
  Dockerfile
  docker-compose.example.yml
  pyproject.toml
Due: none

build wheels in docker
  .github/workflows/docker-build.yml
  .pre-commit-config.yaml
  Dockerfile
  README.md
  requirements_all.txt
  script/gen_requirements_all.py
  script/run-in-env.sh
Due: pylint

more improvements on docker build process
  .github/workflows/docker-build.yml
  pyproject.toml
  requirements_all.txt
  script/gen_requirements_all.py
Due: pylint

fix building wheel
  MANIFEST.in
  music_assistant/server/providers/airplay/bin/__init__.py
  music_assistant/server/providers/spotify/librespot/__init__.py
  music_assistant/server/providers/spotify/librespot/freebsd/__init__.py
  music_assistant/server/providers/spotify/librespot/linux/__init__.py
  music_assistant/server/providers/spotify/librespot/osx/__init__.py
  music_assistant/server/providers/spotify/librespot/windows/__init__.py
  pyproject.toml
Due: pylint, mypy

fix race condition at startup
  MANIFEST.in
  music_assistant/server/controllers/config.py
  music_assistant/server/providers/airplay/bin/__init__.py
  music_assistant/server/providers/frontend/__init__.py
  music_assistant/server/providers/slimproto/__init__.py
  music_assistant/server/server.py
  pyproject.toml
Due: pylint, mypy

typo
  music_assistant/server/controllers/config.py
Due: pylint, mypy

add a tiny bit more logging
  music_assistant/server/server.py
Due: pylint, mypy

change save delay
  music_assistant/server/controllers/config.py
Due: pylint, mypy

typo in smb provider
  music_assistant/server/providers/filesystem_smb/__init__.py
Due: pylint, mypy

silence smb logger
  music_assistant/server/providers/filesystem_smb/__init__.py
Due: pylint, mypy

fix embedded images
  music_assistant/server/controllers/metadata.py
  music_assistant/server/helpers/images.py
  music_assistant/server/helpers/tags.py
Due: pylint, mypy

bump frontend to 20230309.0
  music_assistant/server/providers/frontend/manifest.json
  requirements_all.txt
Due: none

try to fix github container
  .github/workflows/docker-build.yml
Due: none

add cargo deps
  .github/workflows/docker-build.yml
  Dockerfile
Due: none

adjust cargo part in dockerfile
  Dockerfile
  docker-compose.example.yml
Due: none

add maturin to installed packages
  Dockerfile
Due: none

another attempt
  Dockerfile
Due: none

Path conditions:
  pylint: any of: \.py$, but not: ^.venv/|^.vscode/
  mypy: any of: ^(music_assistant)/.+\.py$ and \.py$
